body{
    margin: 0;
    height: 100vh;
    background-color:rgb(217, 196, 255);
    font-family:sans-serif;
    position: relative;
}
div{
    position: absolute;
    background-color:rgb(129,94,133);
    color:white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}
.top-left{
    top: 10px;
    left: 10px;
}
.top-right{
    top: 10px;
    right: 10px;
}
.bottom-left{
    bottom: 10px;
    left: 10px;
}
.bottom-right{
    bottom: 10px;
    right: 10px;
}
.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #78aeeb;
}